
<!DOCTYPE html>
<html>
<title>The Home</title>
<head>

<style>
a:link, a:visited {
  background-color: #FFA500;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: darkorange;
}
</style>

</head>

<body>



<form action="/action_page.php" color="gray" align="center">

    <label><h1>Welcome To CRM Application</h1></label><br><br><br>
<a href="register" target="">Register/Sign Up</a><br><br>
<a href="login" >Login</a><br><br>
    <a href="changepassword" >Change Your Password Here</a><br><br>
  
</form>


</body>
</html>
