<!DOCTYPE html>
<html>
<title>The CRM</title>
<head>

<style>
a:link, a:visited {
  background-color: #FFA500;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: darkorange;
}
</style>

</head>

<body>



<form action="/action_page.php" color="gray" align="center">

<label>Welcom To Django CRM!</label><br><br><br>
<a href="#" target="">Register/Sign Up</a><br><br>
<a href="#" target="_blank">Login</a><br><br>
<a href="#" target="_blank">Forgot Password</a><br><br>
  
</form>


</body>
</html>
